produtos/jboss-6.1.0.Final/server/cte-saida/data/wsdl/cte-saida-ws.jar/WSEnvioCTeSaidaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WSEnvioCTeSaidaService" targetNamespace="http://www.pwc.com.br/WSEnvioCTeSaidaService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.pwc.com.br/WSEnvioCTeSaidaService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.pwc.com.br/cte" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="dadosMsg">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="recepcaoCabec">
<xs:complexType>
<xs:sequence>
<xs:element name="usuario" type="xs:string" />
<xs:element name="aplicativo" type="xs:string" />
</xs:sequence>
<xs:attribute name="versao" type="xs:string" />
</xs:complexType>
</xs:element>
<xs:element name="retRecepcao">
<xs:complexType>
<xs:sequence>
<xs:element name="codigo" type="xs:short" />
<xs:element name="desc" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.pwc.com.br/WSEnvioCTeSaidaService" xmlns:tns="http://www.pwc.com.br/WSEnvioCTeSaidaService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="recepcaoCabec" nillable="true" />
<xsd:element name="dadosMsg" nillable="true">
<xsd:complexType mixed="true">
<xsd:sequence>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="xmlRetornoEnvioCTeSaida" nillable="true" type="xsd:string" />
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="envioCTeSaidaResponse">
    <wsdl:part element="tns:xmlRetornoEnvioCTeSaida" name="xmlRetornoEnvioCTeSaida">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="envioCTeSaida">
    <wsdl:part element="tns:recepcaoCabec" name="recepcaoCabec">
    </wsdl:part>
    <wsdl:part element="tns:dadosMsg" name="dadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSEnvioCTeSaida">
    <wsdl:operation name="envioCTeSaida">
      <wsdl:input message="tns:envioCTeSaida" name="envioCTeSaida">
    </wsdl:input>
      <wsdl:output message="tns:envioCTeSaidaResponse" name="envioCTeSaidaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEnvioCTeSaidaServiceSoapBinding" type="tns:WSEnvioCTeSaida">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="envioCTeSaida">
      <soap:operation soapAction="enviarCTeSaida" style="document" />
      <wsdl:input name="envioCTeSaida">
        <soap:header message="tns:envioCTeSaida" part="recepcaoCabec" use="literal">
        </soap:header>
        <soap:body parts="dadosMsg" use="literal" />
      </wsdl:input>
      <wsdl:output name="envioCTeSaidaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEnvioCTeSaidaService">
    <wsdl:port binding="tns:WSEnvioCTeSaidaServiceSoapBinding" name="WSEnvioCTeSaidaPort">
      <soap:address location="http://jbossws.undefined.host:8080/cte-saida-ws/WSEnvioCTeSaidaService/WSEnvioCTeSaida" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>